ShibUserPassAuth {
/*
http://coheigea.blogspot.com/2015/06/using-jdbc-jaas-loginmodule-with-apache.html
*/

    org.eclipse.jetty.jaas.spi.JDBCLoginModule required
     debug="true"
     dbUrl="jdbc:mysql://localhost/test_saml?characterEncoding=UTF-8&amp;useUnicode=true"
     dbUserName="root"
     dbPassword="1234"
     dbDriver="com.mysql.jdbc.Driver"
     userTable="saml_users"
     userField="login"
     credentialField="password"
     userRoleTable="roles"
     userRoleUserField="login"
     userRoleRoleField="role";
};